{% extends "pages/base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h2>About Us</h2>
    <p>I've been making stuff since my kid-self got his first colouring pencils. I'm fascinated by the dark, the macabre, and the fantastic.</p>
    <p>All work is 100% made with human hands, head, and heart. Digital assets are available on the website, and enquires for prints, licensing, or originals are welcome.</p>
    <p>Welcome to my world, and when you're looking for something visual, remember Van Noys Visuals.</p>
{% endblock %}